---
layout: default
title: Blog Page 
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="padded">

    <div class="capped-width grid-center">

    <div class="col-9 padded-05 center margin-b-1">
        <h2> Latest Posts </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
    </div>

        {% for post in site.posts limit:3 %}

            {% include post-loop-item-square.html %}

        {% endfor %}

    </div>

</section>


<!------------------------ CTA Banner  ------------------------>
<section class="bg-featured text-light padded center capped-width"> 

    <div class="capped-width-narrow">
        <h2> A catchy heading </h2>
        <p> This is a call-to-action to drive traffic somewhere important </p>
        <a href="#" class="button"> Let's do this </a>
    </div>

</section> 


<!------------------------ Split blog loop (part 2) ------------------------>
<section class="padded">

    <div class="capped-width grid-center">

        {% for post in site.posts limit:12 offset:3 %}

                {% include post-loop-item-square.html %}

        {% endfor %}

    </div>


    <!-- This checks if there are more than 15 blog posts, and if there are shows a link to the full blog archive -->

    {% assign post_count = site.posts | size %}
    
    {% if post_count > 15 %}
        <div class="center padded">
            <a class="button" href="/blog-archive"> See More </a>
        </div>
       
    {% endif %}

</section>

