* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, 
footer, 
section {
    padding: 5%;
    border: 1px solid lightgray;
}


.padded-1 { padding: 1rem; }

.intro {
    text-transform: uppercase;
    background-color: lightgray;
}


/* Background Image Styles */

.bg-image {
    background-size: cover; 
    background-position: center;
}

.square {
    padding-bottom: 100%;
}

.landscape {
    padding-bottom: 60%;
}