<!-- Styles  -->
<style> 

    :root {
        --dark-text: {{ site.data.site-settings.design.dark-text_color }} ;
        --medium-text:{{ site.data.site-settings.design.medium-text_color }};
        --light-text: {{ site.data.site-settings.design.light-text_color }};
        --featured-text: {{ site.data.site-settings.design.featured-text_color }};
        --dark: {{ site.data.site-settings.design.dark_color }};
        --medium: {{ site.data.site-settings.design.medium_color }};
        --light: {{ site.data.site-settings.design.light_color }};
        --v-light: {{ site.data.site-settings.design.v-light_color }};
        --featured: {{ site.data.site-settings.design.featured_color }};
        --accent: {{ site.data.site-settings.design.accent_color }}; 
    }

</style> 