<!-- Styles  -->
<style> 

    :root {
        --dark-text: {{ site.data.site-settings.design.dark-text }} ;
        --medium-text:{{ site.data.site-settings.design.medium-text }};
        --light-text: {{ site.data.site-settings.design.light-text }};
        --featured-text: {{ site.data.site-settings.design.featured-text }};
        --dark: {{ site.data.site-settings.design.dark }};
        --medium: {{ site.data.site-settings.design.medium }};
        --light: {{ site.data.site-settings.design.light }};
        --v-light: {{ site.data.site-settings.design.v-light }};
        --featured: {{ site.data.site-settings.design.featured }};
        --accent: {{ site.data.site-settings.design.accent }}; 
    }

</style> 