
<!-- Since the post loop item uses a column class, make sure the parent container has a grid -->

<div class="col-4 post-item padded-1">
    <div class="bg-image square" style="background-image:url( '{{ post.featured_image }}' );"></div>
    <div class="padded-t-1 padded-b-1">
        
        {% for item in post.categories %}
            <span class="tag"> {{item}} </span>
        {% endfor %}

        <h2 class="margin-t-1"> {{ post.title }} </h2>
        <p> {{ post.description }} </p>
        <a href="{{ post.url }}" class="subtle-button"> Read More </a>

    </div>
</div>