
<header class="grid-middle">
    <div class="col-5">
      <a href="/" class="logo"> LOGO </a>
    </div> 
    <nav class="col-7 hide-sm right">

      <a href="/blog"> Blog </a>
      <a href="/blog-archive"> Archive </a>

      <div class="dropdown">
        <span class="dropdown-title"> Catgeories </span>
        <div class="dropdown-content">

          <a href="/food"> Food </a>
          <a href="/bali"> Bali </a>
          <a href="/self-care"> Self Care </a>
          <a href="/travel"> Travel </a>

        </div> 
      </div>
        <a href="#"> Portfolio </a>
        <a href="#"> Contact </a>
      
    </nav> 
    <div class="col-7 right show-sm">
      <a class="hamburger-button"> &#9776; </a>
    </div>
  </header>
  
  <div class="mobile-menu"> 
    <nav> 
      <a href="/blog"> Blog </a>
      <a href="/blog-archive"> Link Two </a>
      <a href="#"> Link Three </a>
      <a href="#"> Link Four </a>
    </nav>
  </div> 



<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 