<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    
    <title>{{page.title}}</title>
</head>

<body>
    <header>
        This is our header 
    </header>

    {{content}}

    <footer>
        This is our footer
    </footer>
</body>

</html>